node_modules/
.env
.cache/
.gitconfig
.vscode/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
_netrc
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

